body {
    font-family: Arial, sans-serif;
    background-color: #111827;
    color: white;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    width: 600px;
    margin: auto;
}

.bloc {
    background-color: #1f2937;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
}

summary {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.bloc p {
    margin-left: 20px;
}

button {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}
label {
    display: block;
    margin: 12px 0 12px 20px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}